@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Assignment 1</h1>
    <br>
    <h2>Edmond Leung</h2>
    <br>
    <h2>Nicholas Bittencourt</h2>
</div>
